dist

**/node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# expo
**/.expo/*

# next.js
**/.next/*
/out/

# tamagui
**/.tamagui/*

# production
build/**
dist/**
.next/**

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# os
.DS_Store
THUMBS_DB
thumbs.db

# turbo build log
**/.turbo/*

# native-ui
dist/
.DS_Store
THUMBS_DB
node_modules/


## Panda
styled-system
styled-system-studio


# jest
coverage

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
